<div id="zentaoEchartsZ-html" class="layui-fluid layui-col-space5">
    <div class="layui-form" style="margin-bottom: -15px">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">选择年度：</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="zentaoZ-year" name="dateYear" placeholder="yyyy">
                </div>
                <button type="submit" class="layui-btn layui-btn-sm layui-btn-primary layui-border-black" lay-submit lay-filter="zentaoZSearch">查询</button>
            </div>
        </div>
    </div>
    <div id="Ztb1" class="layui-col-md12">
        <div class="layui-card">
            <div id="Ztb1-header" class="layui-card-header"></div>
            <div class="layui-card-body layui-card-body-height">
                <div id="Ztb1-body" style="height: 100%;"></div>
            </div>
        </div>
    </div>
    <div id="Ztb2" class="layui-col-md12">
        <div class="layui-card">
            <div id="Ztb2-header" class="layui-card-header"></div>
            <div class="layui-card-body layui-card-body-height">
                <div id="Ztb2-body" style="height: 100%;"></div>
            </div>
        </div>
    </div>
</div>

<style>
    .layui-card-body-height{height: 500px !important;}
    .layui-card-body-height>*[carousel-item]:before{display: none;}
    .layui-card-body-height>*[carousel-item]>div{height: 500px;}
</style>

<script>
    layui.use('zentaoZ', layui.factory('zentaoZ'));
</script>